body 
{
    direction:rtl;
    background-color:#587484;
    
    
}
#container {
    width: 960px;
    margin: 0 auto;
    background-color:#7C98A8 ;
    line-height: 30px;
    font-size:20px;
   
}

#pic {
    height: 800px;
    background-image: url('pic/adv3.png');
    background-position: center;
    background-size: 750px;
    background-repeat: no-repeat;
}


p1{
    font-size:40px;
    font-weight: bold;
    text-align:center,inherit;
    margin:50px;
    
}


    
.bold{
font-size:26px;
font-weight: bold;
}

.two {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align:right;
    background-image: url('pic/learn.png');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position:center;
     height: 400px;
     
}
.pis{

    margin-left:60px;
    margin-right:60px;


}
form{
    margin-top:20px;
    margin-right:100px;
     margin-bottom:20px;
     font-size:20px;
}




label{
    
     margin-top:10px;
     margin-bottom:20px;
     font-size:20px;
     margin-right:70px;
     margin-left:70px;
     margin-bottom:100px;
     line-height:50px;
     text-align:right;
}


input[type ='submit']
{
 margin-top:50px;
 text-align:center;
 margin-bottom:20px;
 font-size:20px;
}

.more {
    height:150px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 26px;
       

}


input:hover{
   background-color:#587484;
}
